{% extends 'base.html.twig' %}

{% block body %}
  <div class="card">
    <h1>Editar Perfil: {{ profile.name }}</h1>

    {{ form_start(form) }}
      {{ form_widget(form) }}
      <button class="cta-button">Guardar cambios</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
