{% extends 'base.html.twig' %}

{% block title %}Profiles{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
    <a href="index.html">Home</a>
    <h1>Profiles</h1>

    {% for profile in profiles %}
        <h2><a href="profile.html">{{ profile.name }}</a></h2>
        <table>
            <tr>
                <th>Skill</th>
                <th>Junior</th>
                <th>Senior</th>
                <th>Expert</th>
            </tr>
            <tr>
                <td>Java (Spring, Hibernate)</td>
                <td class="lower">95%</td>
                <td>100%</td>
                <td class="higher">105%</td>
            </tr>
            <tr>
                <td>RESTful APIs & Microservices</td>
                <td>100%</td>
                <td class="higher">110%</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>SQL / NoSQL Databases</td>
                <td>100%</td>
                <td>100%</td>
                <td class="higher">108%</td>
            </tr>
            <tr>
                <td>Version Control (Git)</td>
                <td class="lower">90%</td>
                <td>100%</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>Unit Testing & CI/CD</td>
                <td>100%</td>
                <td>100%</td>
                <td class="higher">102%</td>
            </tr>
        </table>
    {% endfor %}



    <!-- Java Developer -->
    <h2><a href="profile.html">Java Developer</a></h2>
    <table>
        <tr>
            <th>Skill</th>
            <th>Junior</th>
            <th>Senior</th>
            <th>Expert</th>
        </tr>
        <tr>
            <td>Java (Spring, Hibernate)</td>
            <td class="lower">95%</td>
            <td>100%</td>
            <td class="higher">105%</td>
        </tr>
        <tr>
            <td>RESTful APIs & Microservices</td>
            <td>100%</td>
            <td class="higher">110%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>SQL / NoSQL Databases</td>
            <td>100%</td>
            <td>100%</td>
            <td class="higher">108%</td>
        </tr>
        <tr>
            <td>Version Control (Git)</td>
            <td class="lower">90%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>Unit Testing & CI/CD</td>
            <td>100%</td>
            <td>100%</td>
            <td class="higher">102%</td>
        </tr>
    </table>

    <!-- DevOps Engineer -->
    <h2><a href="profile.html">DevOps Engineer</a></h2>
    <table>
        <tr>
            <th>Skill</th>
            <th>Junior</th>
            <th>Senior</th>
            <th>Expert</th>
        </tr>
        <tr>
            <td>CI/CD Pipelines</td>
            <td>100%</td>
            <td class="higher">105%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>Docker & Kubernetes</td>
            <td class="lower">92%</td>
            <td>100%</td>
            <td class="higher">108%</td>
        </tr>
        <tr>
            <td>Cloud Platforms</td>
            <td>100%</td>
            <td>100%</td>
            <td class="higher">107%</td>
        </tr>
        <tr>
            <td>Infrastructure as Code</td>
            <td>100%</td>
            <td class="higher">103%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>Monitoring & Logging</td>
            <td class="lower">95%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
    </table>

    <!-- Frontend Developer -->
    <h2><a href="profile.html">Frontend Developer</a></h2>
    <table>
        <tr>
            <th>Skill</th>
            <th>Junior</th>
            <th>Senior</th>
            <th>Expert</th>
        </tr>
        <tr>
            <td>JavaScript, HTML, CSS</td>
            <td>100%</td>
            <td class="higher">105%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>React / Angular / Vue</td>
            <td class="lower">93%</td>
            <td>100%</td>
            <td class="higher">106%</td>
        </tr>
        <tr>
            <td>State Management</td>
            <td>100%</td>
            <td>100%</td>
            <td class="higher">104%</td>
        </tr>
        <tr>
            <td>Responsive Design</td>
            <td class="lower">95%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>Testing Frameworks</td>
            <td>100%</td>
            <td class="higher">102%</td>
            <td>100%</td>
        </tr>
    </table>

    <!-- Cybersecurity Analyst -->
    <h2><a href="profile.html">Cybersecurity Analyst</a></h2>
    <table>
        <tr>
            <th>Skill</th>
            <th>Junior</th>
            <th>Senior</th>
            <th>Expert</th>
        </tr>
        <tr>
            <td>Network Security</td>
            <td class="lower">94%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>Threat Detection</td>
            <td>100%</td>
            <td class="higher">107%</td>
            <td>100%</td>
        </tr>
        <tr>
            <td>SIEM Tools</td>
            <td class="lower">90%</td>
            <td>100%</td>
            <td class="higher">105%</td>
        </tr>
        <tr>
            <td>Vulnerability Assessment</td>
            <td>100%</td>
            <td>100%</td>
            <td class="higher">106%</td>
        </tr>
        <tr>
            <td>Security Standards</td>
            <td>100%</td>
            <td>100%</td>
            <td class="higher">104%</td>
        </tr>
    </table>
{% endblock %}
