{% extends 'base.html.twig' %}

{% block title %}Profiles{% endblock %}

{% block body %}
  <div class="profiles-page">
    <h1>Profiles</h1>
    <p class="subtitle">Estado de conocimientos por perfil</p>

   {% for profile in profiles %}
    <!-- Java Developer -->
    <div class="profile-card">
      <h2>Java Developer</h2>
      <table class="skills-table">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Junior</th>
            <th>Senior</th>
            <th>Expert</th>
          </tr>
        </thead>
        <tbody>

        {% for skill in profile.skills %}

          <tr>
            <td>{{ skill.name }}</td>
            <td class="lower">95%</td>
            <td>100%</td>
            <td class="higher">105%</td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
    </div><!-- profile-card -->

      {% endfor %}
    <!-- Aquí seguirían DevOps, Frontend, Cybersecurity, igual que Java Developer -->
    <!-- Cada perfil envuelto en un .profile-card -->
  </div><!-- profile-page -->



{% endblock %}
