{% extends 'base.html.twig' %}

{% block body %}
  <div class="card">
    <h1>Crear nuevo Perfil</h1>

    {{ form_start(form) }}
      {{ form_row(form.name) }}
      <button class="cta-button">Guardar</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
